---
import { RichTextSchema, renderRichText } from '@storyblok/astro'
import cloneDeep from 'clone-deep'
import toUrl from '../../utils/toUrl'

const { content } = Astro.props

const mySchema = cloneDeep(RichTextSchema)
let renderedRichText = renderRichText(content, {
  schema: mySchema,
  resolver: (component, blok) => {
    console.log(blok)
    switch (component) {
      case 'btn':
        return `<a target={blok.lien?.target || '_self'} class="btn ${blok.style === 'normal' ? '' : blok.style === 'soft' ? 'btn-soft' : blok.style === 'outline' ? 'btn-outline' : ''} ${blok.couleur === 'neutral' ? 'btn-neutral' : blok.couleur === 'primary' ? 'btn-primary' : blok.couleur === 'secondary' ? 'btn-secondary' : blok.couleur === 'accent' ? 'btn-accent' : 'btn-neutral'} ${blok.taille === 'xs' ? 'btn-xs' : blok.taille === 'sm' ? 'btn-sm' : blok.taille === 'md' ? 'btn-md' : blok.taille === 'lg' ? 'btn-md' : blok.taille === 'xl' ? 'btn-xl' : 'btn-md'}"  href="${toUrl(blok.lien?.url) || (blok.lien?.story?.url.startsWith('/') ? blok.lien?.story?.url : '/' + blok.lien?.story?.url)}">${blok.texte}</a>`
      default:
        return `Component ${component} not found`
    }
  }
})

renderedRichText = renderedRichText?.replaceAll(
  '<li>',
  `<li><svg class="inline mr-4 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>`
)
---

<div class="prose xl:prose-xl rich-text max-w-prose">
  <Fragment set:html={renderedRichText} />
</div>

<style>
  .rich-text {
    line-height: 1.4;
  }
  .rich-text :global(ul) {
    list-style: none;
  }
  .rich-text :global(ul li p) {
    display: inline;
    margin-block: 0.25rem;
  }
  .rich-text :global(a:not(.btn)) {
    text-decoration: underline;
  }
</style>
<style is:global>
  .prose,
  .prose h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
</style>
